body{margin:0;padding:0;font: 13px Helvetica, Arial;}
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
#formChat {display:none;background: #000; padding: 3px; position:fixed; bottom: 0; width: 30%;}
#formChat input { border: 0; padding: 10px; width: 70%; margin-right: .5%; }
#formChat button { width: 29%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages  {list-style-type: none; display:none; margin: 5; padding: 0;font-family: "Tw Cen MT";color: rgb(255,255,255);background: rgb(255, 255, 255); display: inline-block;}
#messages li { padding: 10px 10px; width: 90%; height:15%;background: rgb(57, 150, 253);}
#messages img { height: 2% ; width: 10%; }
#imagenHamburguesaDerecha {
    position: fixed;
    background:#000;
    margin-bottom:4px;
    border-radius:2px;
    width:50px;
    height:50px;
    right:2.5%;
    top:1.5%;
}
#mensajes{
  display: none;
}
#HamburguesaDerecha{
	position:fixed;
  background-color:transparent;
	right:0;
	top:0;
	height:30px;
	width:30px;
	padding:1% 2%;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
#HamburguesaDerecha.is-active{
  background-color:none;
}
#DivParaCuadrado{

}
._layer{
  visibility: visible;
	background:#333333;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
#HamburguesaDerecha:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
    visibility: visible;
}
#HamburguesaDerecha:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
    visibility: visible;
	}
#HamburguesaDerecha.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
#HamburguesaDerecha.is-active .-mid{
	opacity:0;
}
#HamburguesaDerecha.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

#menuppalDerecha.is_active{
  transform: translate3d(0px, 0px, 0px);
}
#menuppalDerecha{
   background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    right: -70%;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
#menuppalDerecha ul{
  margin:0;padding:0;
}
#menuppalDerecha ul li {
    list-style: none;
	text-align:right;
	font-family: Verdadna, Arial, Helvetica;
	color:$nav-color-text;
	font-size:1.5rem;
	line-height:3em;
	height:3em;
  color:#369;
	text-transform:none;
	font-weight:bold;
}
#menuppalDerecha ul  a{
  text-decoration:none;
  color:#369;
}
#menuppalDerecha ul  form{
    background: #000;
    padding: 3px;
    position:fixed;
    bottom: 0;
    width: 30%;
}
#menuppalDerecha ul  form input{
    border: 0;
    padding: 10px;
    width: 70%;
    margin-right: .5%;
}
#menuppalDerecha ul  form button{
    width: 29%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}
#menuppalDerecha ul a:hover{
  text-decoration:none;
  color:#333;
}
#HamburguesaIzquierda{
  position:fixed;
  background-color:transparent;
  left:0;
  top:0;
  height:5px;
  width:5px;
  padding:1% 1%;
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index:1002;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
#HamburguesaIzquierda.is-active{
  background-color:none;
}
#HamburguesaIzquierda:hover .-top{
  -webkit-transform:translateY(-100%);
  -ms-transform:translateY(-100%);
  transform:translateY(-100%);
  visibility: visible;
}
#HamburguesaIzquierda:hover .-bottom{
  -webkit-transform:translateY(100%);
  -ms-transform:translateY(100%);
  transform:translateY(100%);
  visibility: visible;
  }
#HamburguesaIzquierda.is-active .-top{
  -webkit-transform:translateY(200%) rotate(45deg) !important;
  -ms-transform:translateY(200%) rotate(45deg) !important;
  transform:translateY(200%) rotate(45deg) !important;
}
#HamburguesaIzquierda.is-active .-mid{
  opacity:0;
}
#HamburguesaIzquierda.is-active .-bottom{
  -webkit-transform:translateY(-200%) rotate(135deg) !important;
  -ms-transform:translateY(-200%) rotate(135deg) !important;
  transform:translateY(-200%) rotate(135deg) !important;
}

#menuppalIzquierda.is_active{
  transform: translate3d(0px, 0px, 0px);
}
#menuppalIzquierda{
   background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 10%;
    z-index: 1001;
}
#menuppalIzquierda ul{
  margin:0;padding:0;
}
#menuppalIzquierda ul li {
  list-style: none;
  text-align:center;
  font-family: Verdadna, Arial, Helvetica;
  color:$nav-color-text;
  font-size:2rem;
  line-height:5em;
  height:4em;
  color:#369;
  text-transform:none;
  font-weight:bold;
}
#menuppalIzquierda ul li a{
  text-decoration:none;
  color:#369;
}
#menuppalIzquierda ul li a:hover{
  text-decoration:none;
  color:#333;
}
#menuppalIzquierda ul li button{
width: 100%;
 margin: 0 auto;
}
#button1{
    background-image:url(Imagenes/Lapiz.PNG);
    height: 80% ; width: 80%;
}
#button2{
    background-image:url(Imagenes/Regla.PNG);
    height: 80% ; width: 80%;
}
#button3{
    background-image:url(Imagenes/Pantallazo.PNG);
    height: 80% ; width: 80%;
}
#button4{
    background-image:url(Imagenes/Borrador.PNG);
    height: 80% ; width: 80%;
}
#button5{
    background-image:url(Imagenes/Circulo.PNG);
    height: 80% ; width: 80%;
}
#button6{
    background-image:url(Imagenes/Cuadrado.PNG);
    height: 80% ; width: 80%;
}
#button7{
    background-image:url(Imagenes/BorradoTotal.jpg);
    height: 80% ; width: 80%;
}
#button8{
    background-image:url(Imagenes/triangulo.jpg);
    height: 80% ; width: 80%;
}
#button9{
  background-image: url(Imagenes/retroceso.png);
  height: 80% ; width: 80%;
}

#button10{
  background-image: url(Imagenes/A.jpg);
  height: 80%; width: 80%;
}

#SalirMonitoria{
  position: fixed;
  left: 75%;
  top:0%;
  width:150px;
  height:50px;
}
